@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply w-screen overflow-x-hidden bg-background text-text text-right font-inter flex items-center justify-center;
  }
  header {
    @apply sticky top-0 layout py-4;
  }
  nav {
    @apply flex justify-between items-center bg-primary layout rounded-t-2xl rounded-b p-4;
  }
  nav ul {
    @apply flex flex-col md:flex-row gap-lg md:gap-sm md:ml-auto font-inter text-nav text-3xl md:text-lg;
  }
  main {
    @apply layout prose;
  }
  h1 {
    @apply text-4xl font-semibold tracking-wide leading-none -mt-8;
  }
  h2 {
    @apply text-7xl font-bold leading-none mb-6;
  }
  h3 {
    @apply text-3xl font-semibold tracking-wider leading-none mb-4;
  }
  h4 {
    @apply text-xl font-semibold leading-none -mb-4;
  }
  h5 {
    @apply font-roboto text-3xl tracking-wide leading-none;
  }
  ul {
    @apply flex gap-3 w-screen layout;
  }
}

@layer components {
  .site-padding {
    @apply p-6 md:p-8;
  }
  .gap-sm {
    @apply gap-4;
  }
  .gap-lg {
    @apply gap-10;
  }
  .layout {
    @apply flex w-screen mx-auto site-padding;
  }
  .prose {
    @apply font-inter text-text prose-sm md:prose-base prose-headings:mt-0 prose-headings:text-headings prose-headings:font-black;
  }
  .trans {
    @apply transition duration-300 ease-in-out;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #fe3488;
}
