@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "monument";
  src: url("/assets/MonumentExtended-Regular.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply w-screen overflow-x-hidden bg-background text-text text-right font-inter flex items-center justify-center;
  }
  header {
    @apply sticky top-0 layout py-4;
  }
  nav {
    @apply flex justify-between items-center bg-primary layout rounded-t-2xl rounded-b p-4;
  }
  nav ul {
    @apply flex flex-col md:flex-row gap-lg md:gap-sm md:ml-auto font-inter text-nav text-3xl md:text-lg;
  }
  main {
    @apply layout prose;
  }
  h1 {
    @apply text-4xl font-semibold tracking-wide leading-none;
  }
  h2 {
    @apply text-7xl font-bold leading-none mb-2;
  }
  h3 {
    @apply text-3xl font-semibold tracking-wider leading-none mb-1;
  }
  h4 {
    @apply text-xl font-semibold leading-none mt-4 mb-2;
  }
  h5 {
    @apply font-roboto text-3xl tracking-wide leading-none;
  }
  ul {
    @apply flex gap-3 w-screen;
  }
}

@layer components {
  .site-padding {
    @apply p-6 md:p-8;
  }
  .gap-sm {
    @apply gap-4;
  }
  .gap-lg {
    @apply gap-10;
  }
  .layout {
    @apply flex w-screen mx-auto site-padding;
  }
  .prose {
    @apply font-inter text-text prose-sm md:prose-base prose-headings:mt-0 prose-headings:text-headings prose-headings:font-black;
  }
  .trans {
    @apply transition duration-300 ease-in-out;
  }
}

.oneCard {
  width: 500px;
  height: 230px;
}
.twoCard {
  width: 400px;
}
.threeCard {
  width: 360px;
}

.bg-circle {
  background: rgb(2, 232, 202);
  background: radial-gradient(
    circle,
    rgba(2, 232, 202, 0.05) 0%,
    rgba(2, 232, 202, 0.1) 2%,
    rgba(2, 232, 202, 0) 60%
  );
}

.bg-circle-dark {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 10%,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 0) 80%
  );
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #02e8ca;
}
